.container {
  margin: 0;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > p {
    margin-bottom: 40px;
    color: var(--primary);
    font-size: 30px;
    font-weight: 700;
  }

  .containerInitialScreen {
    margin: 0px 60px 0px 60px;

    .title {
      font-size: 19px;
      font-weight: 600;
      padding-bottom: 15px;
    }
  }

  .containerCompleted {
    p {
      color: var(--secondary);
      font-size: 25px;
      font-weight: 500;
    }
  }
}
